*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    width: 100%;
    background-color: aqua;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 20px;
    list-style: none;
    padding: 30px;
}
nav a{
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    
    background-color: aquamarine;
    text-decoration: none;
}
#signup-form-div{
    width: 40%;
    margin: 30px auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
 form{
     display: flex;
     flex-direction: column;
     padding: 10px;
 }
 input{
     padding: 5px;
     margin: 8px 0px;
     box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
     border-radius: 5px;
     border: none;
 }
 label{
     margin: 5px 0px;
 }
 #sub{
     font-size: 20px;
     color: black;
     background-color: rgb(76, 234, 205);
 }
p{
    text-align: center;
}
